[flake8]
max-line-length = 120
exclude = .git, __pycache__
max-complexity = 16
format = pylint
show_source = True

ignore = W503
per-file-ignores =
        homehub/__init__.py:F401,E402
        homehub.py:F401

